doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Mentor | Time tracking dashboard
    body 
        .container
            .aside
                .info
                    .image-box 
                        img(src="/images/image-jeremy.png", alt="Jeremy Image")
                    .text-box
                        p Report for
                        h2 Jeremy Robson
                .nav
                    ul
                        li(data-id="daily") Daily
                        li(data-id="weekly").active Weekly
                        li(data-id="monthly") Monthly
            .content
        script(src="js/script.js") 


        